.sui-icon {
  display inline-block
  vertical-align -0.1rem
  text-align center
  line-height 0
  text-transform none
  font-style normal
  color inherit
  -webkit-font-smoothing antialiased

  svg {
    height 1em
    width 1em
  }
}
